.animated {
  display: flex;
}

.animated span {
  position: relative;
}

.animated span::before {
  content: "Youtuber";
  color: #4D80E6;
  animation: words 20s infinite;
}

.animated span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 84px;
  background-color: #fff;
  border-left: 2px solid #4D80E6;
  right: -8px;
  animation: cursor .8s infinite, typing 20s steps(16) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid #4D80E600;
  }
}

@keyframes words {

  0%,
  20% {
    content: "Web Developer";
  }

  21%,
  40% {
    content: "Graphic Designer";
  }

  41%,
  60% {
    content: "Web Developer";
  }

  61%,
  80% {
    content: "Graphic Designer";
  }

  81%,
  100% {
    content: "Web Developer";
  }
}

@keyframes typing {

  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }

  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

.greetings {
  background-color: rgba(255, 255, 255, 0.30);
  /* Semi-transparent background */
  backdrop-filter: blur(2px);
  /* Apply a 5px blur effect */
  padding: 20px;
  border-radius: 0px;
  box-shadow: 0px 24px 64px 0px rgba(0, 0, 0, 0.15)
}

.greetings p {
  letter-spacing: .8px;
  line-height: 1.4em;
}

.levitate {
  transition: all 0.3s ease-in-out;
}

.levitate:hover {
  transform: translateY(-5px);
}

.workScroll {
  /* animation: scroll 5s linear infinite; */
}

@keyframes scroll {
  100% {
    transform: translateX(-100%);
  }
}

.careerCard {
  box-shadow: 0px 24px 64px 0px rgba(0, 0, 0, 0.15)
}