.navlink {
  transition: all 0.1s;
  color: #949495;
  text-decoration: none;
}

.navlink:hover {
  color: #4D80E6;
  font-weight: 500;
}

.navlinkActive {
  color: #4D80E6;
  font-weight: 500;
}

.navlinkMobileActive {
  color: #4D80E6;
  font-weight: 500;
  padding-bottom: 8px;
}

.contact {
  transition: all 0.5s;
}

.contact:hover {
  box-shadow: 0px 0px 10px 2px #747474;
}

.langItems {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: flex;
}

.item {
  text-decoration: none;
  padding: 0 4px;
  margin: 0;
}